@font-face {
    font-family: 'Bbneue';
    src: url('../assets/fonts/BebasNeue.otf');
}

body{
    background-color: aqua;
    background: url('../assets/img/heart.png');
}

.hello{
    font-family: 'Bbneue';
    font-size: 45px;
    color: rgb(157, 71, 71)
    
}